// /img/infogreen.svg

.svg-infogreen{
	background-image: url(/img/infogreen.svg);
}

// /img/graph.svg

.svg-graph{
	background-image: url(/img/graph.svg);
}

// /img/box.svg

.svg-box{
	background-image: url(/img/box.svg);
}

// /img/menugreen.svg

.svg-menugreen{
	background-image: url(/img/menugreen.svg);
}

// /img/cart.svg
.svg-cart{
    background-image: url(/img/cart.svg);
}

// /img/reportgreen.svg
.svg-reportgreen{
    background-image: url(/img/reportgreen.svg);
}

// /img/upload.svg
.svg-upload{
	background-image: url(/img/upload.svg);
}
