// Body
$body-bg: #ffffff;

// Typography
$fsemibold: 'Semibold', sans-serif;
$fregular: 'Regular', sans-serif;
$fextra: 'Extrabold', sans-serif;
$fbold: 'Bold', sans-serif;
$font-size: 14px;
$line-height-base: 1.6;


$grey: #3c3e48;
$space: #dfdfdf;
$newspace: #fbfbfb;
$dia: #afbcc5;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #fe6885;
$pink-hover: #bf475e;
$red: #e55576;
$orange: #f6993f;
$yellow: #ffae00;
$green: #2cbd65;
$green-hover: #1e8f4a;
$lightgreen: #30e877;
$teal: #4dc0b5;
$cyan: #6cb2eb;
